.roof {
    width: 100%;
    padding-top:50px;
    border-bottom:2px black solid;
    margin-top: 5px;
}
.smenu{
    position: relative;
    float:left;
    height: 100%;
    width: 100px;
    border-bottom:2px black solid;
    background-color: gray;
    margin-right: 15px;
}
.content{
    border-bottom:2px black solid;
}